body{
    background-color: dimgray;
}
.form{
    display: flex;
    margin: 20%;
    justify-content: center;

}
label{
    color: aliceblue;
    display: flex;
}
input{
    display: flex;

}
.valider{
    cursor: pointer;
    width: 100%;
    margin: 6px;
    margin-left: auto;
    background-color: chocolate;
}